body{background-color: gray;
	margin: 50px 0px;
}


header{
	background: white;

}

header h1{
	background-color: teal;
	width: 20%;
	margin-left: 30px;
	;
}
#indexMenu{
	text-align: right;
	margin-bottom: : 40px;
}

#indexPic{
	float: left;
}
#leftBox{
	background: #eee;
	width: 500px;
}

#rightBox{
	background: #eee;
	width: 270px;
	text-align: center;

}
#git, #link, #stack{
	width: 50px;
	height: 50px;
}

footer{
	
	font-size: small;
	text-align: center;
	background-color: green;
	border-top: 5px blue solid;
	padding: 20px 0;

}




