body{background-color: gray;
	margin: 50px 0px;
}


header{
	background: white;

}

header h1{
	background-color: teal;
	width: 20%;
	;
}
#indexMenu{
	text-align: right;
	margin-bottom: : 30px;
}

#leftBox{
	background: pink;
	width: 500px;
}

#rightBox{
	background: pink;
	width: 570px;
}
footer{
	.clearfix::after {
    content: "";
    clear: both;
    display: table;
};
	text-align: center;
	background-color: green;
	border-top: 5px blue solid;
	padding: 20px 0;
}




